<div id="<%= dom_id tranzaction %>">
  <p>
    <strong>Name:</strong>
    <%= tranzaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tranzaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= tranzaction.category_id %>
  </p>

  <p>
    <strong>Splash:</strong>
    <%= tranzaction.splash_id %>
  </p>

</div>
