<navbar class="navbar">
    <ul>
    <%= link_to categories_path, class: "back-btn" do%>
    <%= image_tag("back.png") %>
    <%end%>
    <p class="navbar-type">TRANSACTIONS</p>
        <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag("logout.png") %>
    <% end %>
    </ul>
</navbar>

<div id="categories-show">
  <div class="description-container" id="<%= dom_id @category %>">
    <div class="self-info">
        <% if @category.cat_image.attached? %>
          <%= image_tag(@category.cat_image) %>
        <% else%>
          <%= image_tag('default_no_img.png')%> 
        <%end%>
      <div class="mid-info">
        <p><%= @category.name %></p>
        <span> <%= @category.created_at.strftime('%d %b %Y') %></span>
      </div>
    </div>
    <div class="edit-delete-cat">
      <%= link_to edit_category_path(@category) do %>
        <%= image_tag("edit.png") %>
      <%end%>
     <%= button_to @category, method: :delete do %>
       <%= image_tag("delete.png") %>
     <%end%>
    </div>
  </div>
</div>

<%= link_to new_category_tranzaction_path(@category.id), class: "new-cat-btn" do%>
<p>Add a new transaction</p>
<%end%>

<%= render partial: "transaction", local: @transaction %>


