<navbar class="navbar">
    <ul>
    <%= link_to categories_path, class: "back-btn" do%>
    <%= image_tag("back.png") %>
    <%end%>
    <p class="navbar-type">TRANSACTIONS</p>
        <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag("logout.png") %>
    <% end %>
    </ul>
</navbar>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
